<div class="panel panel-primary" style="height:700px">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-1 text-right">Search:</div>
            <div class="col-md-3"><input type="text" class="form-control" placeholder="Enter Card Number"
                                         ng-model="search.CARD_NUM"></div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Account Name</th>
            <th>Card Number</th>
            <th>Balance</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accounts|filter:search">
            <td>{{account.ACCOUNT_NAME}}</td>
            <td>{{account.CARD_NUM}}</td>
            <td>{{account.ACCOUNT_BALANCE}}</td>
            <td>
                <a ng-href="#/transaction/all/account/{{account.ID}}">Detail</a>
            </td>
            <td>
                <a ng-href="#/transferView/{{account.ID}}">Transfer</a>
            </td>
            <td>
                <a href="#/accountList" ng-click="deleteAccount(account.ID)">Close</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-md-2">
        <a class="btn btn-primary" href="#/addAccount">Open Account</a>
    </div>
    <div class="col-md-1">
        <a class="btn btn-primary" href="#/logout">Logout</a>
    </div>
</div>
