<div class="panel panel-primary" style="height:700px">
    <form name="transferForm">
        <div class="row top-buffer-20">
            <div class="col-md-1 col-md-offset-4">Type:</div>
            <div class="col-md-3">
                <select class="form-control" ng-model="transaction.type" required>
                    <option value="">---Please Select Transfer Type---</option>
                    <option value="deposit">Deposit</option>
                    <option value="withdraw">Withdraw</option>
                </select>
            </div>
        </div>
        <div class="row top-buffer-20">
            <div class="col-md-1 col-md-offset-4">Amount:</div>
            <div class="col-md-3"><input class="form-control" type="text" ng-model="transaction.amount"
                                         ng-init="transaction.amount='0.00'"
                                         ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required></div>
        </div>
        <div class="row top-buffer-20">
            <div class="col-md-3 col-md-offset-4">Current Balance:</div>
            <div class="col-md-1">
                {{account.account_balance|number:2}}
            </div>
        </div>
        <div class="row top-buffer-20">
            <div class="col-md-3 col-md-offset-4">Balance After Transaction:</div>
            <div class="col-md-1">
                {{calculateBalance(transaction.type,account.account_balance,transaction.amount)|number:2}}
            </div>
            <div class="col-md-2" ng-show="transaction.balanceAfterTransfer<0">
                Not enough balance
            </div>
        </div>
        <div class="row top-buffer-20">
            <div class="col-md-1 col-md-offset-4">
                <button class="btn btn-primary" ng-click="transfer(transaction)"
                        data-ng-disabled="transferForm.$invalid||transaction.balanceAfterTransfer<0">Submit
                </button>
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary" href="#/accountList">Go Back</a>
            </div>
        </div>
    </form>
</div>
